<p><img alt="2.jpg" src="/ueditor/php/upload/image/20140621/1403350828386468.jpg" title="1403350828386468.jpg"/></p>
<p><br/></p>
<p>Automobiles&nbsp;have,&nbsp;since&nbsp;their&nbsp;invention,&nbsp;revolutionized&nbsp;transportation,&nbsp;changing&nbsp;forever&nbsp;the&nbsp;way&nbsp;people&nbsp;live,&nbsp;travel,&nbsp;and&nbsp;do&nbsp;business.</p>
<p>汽车自从发明以来使用交通运输发生了革命性的变化，永远地改变了人们的生活、旅行和办事的方式</p>
<p><br/></p>
<p>On&nbsp;the&nbsp;other&nbsp;hand,&nbsp;they&nbsp;have&nbsp;brought&nbsp;<strong>hazards</strong>,&nbsp;especially&nbsp;highway&nbsp;fatalities.</p>
<p>在另一方面，也带来了<strong>危害</strong>，尤其是公路死亡事故。</p>
<p><br/></p>
<p>However,&nbsp;today&nbsp;the&nbsp;application&nbsp;of&nbsp;computer&nbsp;technology&nbsp;and&nbsp;electronic&nbsp;sensors&nbsp;in&nbsp;designing&nbsp;and&nbsp;manufacturing&nbsp;cars&nbsp;makes&nbsp;it&nbsp;possible&nbsp;to&nbsp;<strong>eliminate</strong>&nbsp;most&nbsp;of&nbsp;traffic&nbsp;accidents.&nbsp;</p>
<p>然而，现今由于计算机技术和电子传感器的使用，有可能<strong>消除</strong>发生的大多数交通事故。</p>
<p><br/></p>
<p>For example, electronic sensors <strong>mounted </strong>in your car can <strong>detect</strong> alcohol <strong>vapor</strong> in the air and refuse to start up the engine.</p>
<p>例如，<strong>装在</strong>车上的电子传感器能<strong>检测</strong>到空气中的酒精<strong>雾气</strong>并拒绝启动引擎。</p>
<p><br/></p>
<p><img alt="3.jpg" src="/ueditor/php/upload/image/20140621/1403350839715317.jpg" title="1403350839715317.jpg"/></p>
<p><br/></p>
<p>The can also monitor road conditions by receiving radio <strong>signals</strong> sent out from orbiting <strong>satellite</strong> and greatly reduce your chance of getting stuck in traffic jams.</p>
<p>同样，传感器还能通过接受在轨道上运行的<strong>卫星</strong>发出的<strong>信号</strong>监测路况并大大减少你陷入交通拥堵的可能性。<br/></p>
<p><br/></p>


<p><img alt="3.jpg" src="/ueditor/php/upload/image/20140621/1403336358571505.jpg" title="1403336358571505.jpg"/></p>
<p><br/></p>
<p>The <strong><span style="text-decoration: none;">offensive</span></strong> had already lasted three days,but we had no gaind much ground.</p>
<p><strong>攻势</strong>已经持续了三天了，但是我们并没有取得多少进展。</p>
<p><br/></p>
<p>The division commander <strong>instruted</strong> our battalion to the rear of the enemy and launch a surprise attack.</p>
<p>师长<strong>命令</strong>我们营夜晚绕到敌人的后方发起突然袭击。</p>
<p><br/></p>
<p>To do so ,however, we had to cross a marshland and many of us were afraid we might <strong>get bogged down</strong> in the mud.</p>
<p>我们必须越过一片沼泽地，而且我们很多人都担心会<strong>陷入</strong>泥潭之中。</p>
<p><br/></p>
<p><img alt="2.jpg" src="/ueditor/php/upload/image/20140621/1403336380614450.jpg" title="1403336380614450.jpg"/></p>
<p><br/></p>
<p>Our battalion commander decided to <strong>take a gamble</strong>.</p>
<p>我们的营长决定<strong>冒一下险</strong>。</p>
<p><br/></p>
<p>By a stroke of luck , the temperature at night suddenly dropped to minus 20 degree Celsius and the marsh froze.</p>
<p>经过一次幸运的风暴，温度突然下降了20度，沼泽也结成冰。</p>
<p><br/></p>
<p><strong>Thanks to </strong>the cold weather, we arrived at our destination before dawn and began attacking the enemy from the rear.</p>
<p><strong>所幸</strong>由于寒冷天气，我们在天亮之前到达了目的地并从敌人后方发起进攻。<br/></p>
<p><br/></p>
<p>This <strong>turned the tide</strong> of the battle. The enemy, <strong>caugh off guard</strong> ,soon surrendered.</p>
<p>这一下<strong>扭转</strong>了战局。敌人<strong>没有戒备</strong>，不久便投降了。<br/></p>
